.post-img{
    height: 445px;
    overflow: hidden;
    margin-top: 50px;
}


.post-img img{


}
.blogcontent-left h1{
    margin: 50px;
    text-align:  center;
}
.blogcontent-left h3{
    text-align-last:right;
    margin-bottom: 40px;
}